@font-face {
    font-family: Forum;
    src: url("assets/fonts/Forum-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url("assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    background: silver;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 20px;
    background: #0C0C0E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.header-name {
    align-self: center;
    margin: 0;
    color: #FFF;
    font-family: Forum;
    font-weight: 400;
    letter-spacing: -0.2px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    flex-wrap: wrap;
    list-style: none;
}

.nav-link {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
    transition: .3s;
}

.nav-link:hover {
    text-shadow: 2px -3px 3px #FFF;
}

.header-icon {
    width: 28px;
    height: 28px;
    transition: .3s;
}

.header-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}


/* Main */

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.section {
    background: #FFF;
    outline: green solid 1px;
}

.section-title {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.section-title a {
    color: #0C0C0E;
    text-decoration: none;
}

.section-title::after {
    content: '';
    background: #0C0C0E;
    width: 50px;
    height: 1px;
    margin: 20px auto;
}


/* Welcome */

.section-welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 600px;
    background: url("assets/img/welcome.jpg");
    background-size: contain;
}

.welcome-overlay {
    display: flex;
    width: 1440px;
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome-text {
    position: absolute;
    width: 600px;
    margin: 0;
    padding: 35px 40px;
    top: 220px;
    background: #0C0C0E;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}


/* About */

.section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 837px;
}

.about-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

.about-image {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 560px;
    margin: 20px auto;
}

.about-carousel {
    display: flex;
    width: 78px;
    margin-top: 15px;
}

.carousel-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 26px;
    height: 26px;
    padding: 0;
    border: none;
    border-radius: 50px;
    background: none;
}

.carousel-button:hover {
    cursor: pointer;
}

.carousel-item {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: none;
    background: #0C0C0E;
}

.about-carousel button:nth-of-type(1) div {
    background: #BB945F;
}

/* Favorites */

.section-favorites {
    height: 1439px;
}

.seasons-title {
    margin: 0;
    margin-left: 20px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.seasons-form {
    display: flex;
    justify-content: space-between;
    gap: 90.95px;
    width: 698px;
    margin: 40px 20px;
}

.seasons-item {
    font-family: Inter;
    font-size: 20px;
}

.radio-button {
    margin: 0 13.5px 0 0;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    accent-color: #000;
    font-weight: 700;
}

.radio-button:checked~.radio-text {
    font-weight: 700;
}

.favorites-items {
    outline: green solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 1400px;
    height: 1150px;
    margin: 0 auto;
}

.book-description {
    width: 550px;
    height: 555px;
    border: 1px solid #000;
}

.book-card {
    outline: purple solid 1px;
    width: 590px;
    height: 555px;
    position: relative;
}

.book-card img {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Coffee shop */

.section-coffee-shop {
    height: 841px;
}


/* Contacts */

.section-contacts {
    height: 575px;
}


/* LibraryCard */

.section-library-card {
    height: 614px;
}